<!doctype html>
<!--[if lt IE 7 ]>
<html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width = 1000">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>the Movienator</title>

  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <script src="js/modernizr.js"></script>
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="js/scripts.js"></script>

</head>
<body>

<div id="top-navbar"></div>

<div id="wrap">

  <div id="offset"></div>
  <!-- #offset -->

  <div id="container">
    <!--
    <ul id="nav">
         <li class="intro"><a href="#intro" class="page-nav">Intro</a></li>
         <li class="featuring"><a href="#featuring" class="page-nav">Featuring</a></li>
         <li class="sponsorz"><a href="#sponsorz" class="page-nav">Sponsors</a></li>
         <li class="flip-cup"><a href="#flip-cup" class="page-nav">Flip Cup</a></li>
         <li class="teams"><a href="#teams" class="page-nav">Teams</a></li>
       </ul>
    -->


    <div id="environment">

      <div id="content">

        <section id="intro">
          <div>
            <h1>M<%= image_tag "launch_page/giphy_02.gif" %></h1>
          </div>
          <div id="scroll-message">
            <%= image_tag "launch_page/scroll_down_image.png" %>
          </div>
        </section>
        <!-- #intro -->


        <section id="featuring">
          <%= image_tag "launch_page/reclining_zog.png" %>
          <!--
 <div id="content-box">
          <div id="scrollable">
  -->
          <%= image_tag "launch_page/movienator-logo_01.png" %>

          <p id="tagline">Great Movies, Every Time.</p>
          <!--   <img id="click_me" src="images/click_me.png"> -->
          <!--
  </div>
          </div>
   -->
          <iframe id="video" src="//player.vimeo.com/video/60358403" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <!--  <iframe src="//player.vimeo.com/video/84290093?badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/84290093">Polica - I Need $ / So Leave</a> from <a href="http://vimeo.com/ravishankara">Isaac Ravishankara</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
        </section>
        <!-- #featuring -->


        <!--
  <section id="sponsorz">
         <video width="320" height="240" controls>
         <source src="movie.mp4" type="video/mp4">
         <source src="movie.ogg" type="video/ogg">
         <object data="movie.mp4" width="320" height="240">
         <embed src="movie.swf" width="320" height="240">
         </object>
         </video>

  -->

        </section> <!-- #sponsorz -->


        <section id="flip-cup">

        </section>
        <!-- #flip-cup -->


        <section id="teams">

        </section>
        <!-- #teams -->


        <section id="limbo">
        </section>
        <!-- #limbo -->

      </div>
      <!-- #content -->

    </div>
    <!-- #environment -->

  </div>
  <!-- #container -->


</div>
<!-- #wrap -->

<div id="scroll-proxy"></div>


</body>
</html>