@font-face {
  font-family: "sky";
  src: url("/assets/sky.ttf");
  src: local("â˜º"),
  url("/assets/sky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HaloHandletter";
  src: url("/assets/HaloHandletter.otf");
  font-weight: normal;
  font-style: normal;
}
