
<h1>hi there</h1>
<%= form_tag(:action => 'new') do %>
    <p>
      <%= text_area_tag "SearchInput",nil, size: 55 %>
      <%= submit_tag "Search for movie"%>
    </p>
    <div id="form">

    </div>
<% end %>